src/main/mule/MuleApplication.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="39b62f89-9ec0-4e8a-ba6e-754bb1b70236" basePath="/api" >
		<http:listener-connection host="0.0.0.0" port="8081" readTimeout="3000"/>
	</http:listener-config>
	<flow name="Clients-GET" doc:id="88c94d9b-c091-441b-9962-a41139a57bc7" >
		<http:listener doc:name="Listener-GET" doc:id="0d3e95d8-e0aa-4f1f-8404-c96b11a7b501" config-ref="HTTP_Listener_config" path="/clients" allowedMethods="GET"/>
		<set-payload value='#[{"message":"Clientes Get"}]' doc:name="Set Payload" doc:id="96eaa5b6-a206-4ca4-9cd1-30ad1c6cd306" />
		<ee:transform doc:name="Transform Message" doc:id="cc973dec-c426-40e2-815a-71b6d11bed1e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="Clients-GET-ID" doc:id="037311ef-f948-4055-921f-7e82d5730e37" >
		<http:listener doc:name="Listener" doc:id="494eed62-cd7e-4443-ab73-ce1812cee127" config-ref="HTTP_Listener_config" path="/clients/{ID}" allowedMethods="GET"/>
		<set-payload value='#[{"message":"Clientes por DNI"}]' doc:name="Set Payload" doc:id="fe027159-50f0-44e5-b25c-6ac131cbbbb0" />
		<ee:transform doc:name="Transform Message" doc:id="83ef7866-2e7e-4281-979e-5fbc334fc8ca" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="Clients-POST" doc:id="291b0d4c-6410-48dc-9eb8-965cce6f737e" >
		<http:listener doc:name="Listener" doc:id="7ef29bff-b0d0-46bf-8c88-bf3faf616d80" config-ref="HTTP_Listener_config" path="/clients" allowedMethods="POST"/>
		<set-payload value='#[{"message":"Clientes POST"}]' doc:name="Set Payload" doc:id="6b758aea-c788-403a-87b5-6147fa00cd21" />
		<ee:transform doc:name="Transform Message" doc:id="12c66dd3-1e2a-402d-add9-e9d07ceea814" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="Clients-PUT" doc:id="ac6c3365-3250-44aa-a79b-153891e9f273" >
		<http:listener doc:name="Listener" doc:id="22d788c2-7a7f-4933-a5f5-0a875cd310e0" config-ref="HTTP_Listener_config" path="/clients/{ID}" allowedMethods="PUT"/>
		<set-payload value='#[{"message":"Clientes PUT"}]' doc:name="Set Payload" doc:id="86f57467-66d8-4341-8894-26df2517d691" />
		<ee:transform doc:name="Transform Message" doc:id="cfa4892b-327c-4662-b5af-cc1676fd8c0f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="Clients-DELETE" doc:id="375daaf1-2e9e-4ad5-a79b-8eb5ed1bb5d8" >
		<http:listener doc:name="Listener" doc:id="cedc5f84-c80e-4eed-b4c0-b5f685a07f14" config-ref="HTTP_Listener_config" path="/clients/{ID}" allowedMethods="DELETE"/>
		<set-payload value='#[{"message":"Clientes DELETE"}]' doc:name="Set Payload" doc:id="332bd83a-2d6d-4a81-a9ea-c5f5e6321487" />
		<ee:transform doc:name="Transform Message" doc:id="ff531384-b730-4b56-af73-ba062d938a37" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
