src/main/mule/MuleApplication.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="39b62f89-9ec0-4e8a-ba6e-754bb1b70236" basePath="/api" >
		<http:listener-connection host="0.0.0.0" port="8081" readTimeout="3000"/>
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="9186200f-76a1-4ec8-81ac-3ae3005ee553" >
		<db:my-sql-connection host="127.0.0.1" port="3306" user="root" password="root123" database="pruebaTecnica" />
	</db:config>
	<flow name="Clients-GET" doc:id="88c94d9b-c091-441b-9962-a41139a57bc7" >
		<db:select doc:name="Select" doc:id="0e272600-3ba0-436b-bdbb-58b6fd912aac" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM clients
WHERE 
    (:gender IS NULL OR gender = :gender)
    AND
    (:city IS NULL OR city = :city)
ORDER BY dni ASC]]></db:sql>
			<db:input-parameters ><![CDATA[#[{"gender": attributes.queryParams.gender,
 "city":attributes.queryParams.city
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="cc973dec-c426-40e2-815a-71b6d11bed1e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json

var clients = payload filter ((client) -> client.enabled == true)
---
clients map ( payload01 , indexOfPayload01 ) -> {
	dni: payload01.dni,
	nombre: payload01.name,
	apellido: payload01.surname,
	genero: payload01.gender ,
	ciudad: payload01.city,
	fecha_de_nacimiento: payload01.date_of_birth,
	habilitado:payload01.enabled
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="Clients-GET-ID" doc:id="037311ef-f948-4055-921f-7e82d5730e37" >
		<db:select doc:name="Select" doc:id="7b48c472-e2ab-48a9-bb7e-992bcfcc926e" config-ref="Database_Config">
			<db:sql><![CDATA[SELECT *
FROM clients
WHERE dni = :dni]]></db:sql>
			<db:input-parameters ><![CDATA[#[{dni: attributes.uriParams.dni}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="83ef7866-2e7e-4281-979e-5fbc334fc8ca" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var clients = payload filter ((client) -> client.enabled == true)
---
clients map ( payload01 , indexOfPayload01 ) -> {
	dni: payload01.dni,
	nombre: payload01.name,
	apellido: payload01.surname,
	genero: payload01.gender ,
	ciudad: payload01.city,
	fecha_de_nacimiento: payload01.date_of_birth,
	habilitado:payload01.enabled
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="Clients-POST" doc:id="291b0d4c-6410-48dc-9eb8-965cce6f737e" >
		<db:insert doc:name="Insert" doc:id="e1a7d750-558e-49aa-a7b7-c1f46dffd554" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO clients (dni,name,surname,gender,city,date_of_birth,enabled)
VALUES(:dni,:name,:surname,:gender,:city,:date_of_birth,:enabled)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	gender: payload.genero,
	city: payload.ciudad,
	surname: payload.apellido,
	date_of_birth: payload.fecha_de_nacimiento,
	name: payload.nombre,
	dni: payload.dni,
	enabled: payload.habilitado
	}]]]></db:input-parameters>
		</db:insert>
		<set-payload value='#[{"message":"Alta de cliente exitoosa"}]' doc:name="Set Payload" doc:id="6b758aea-c788-403a-87b5-6147fa00cd21" />
		<ee:transform doc:name="Transform Message" doc:id="12c66dd3-1e2a-402d-add9-e9d07ceea814" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="Clients-PUT" doc:id="ac6c3365-3250-44aa-a79b-153891e9f273" >
		<db:update doc:name="Update" doc:id="2a3b24a8-cb66-4dba-9d0e-55509b8f448a" config-ref="Database_Config">
			<db:sql ><![CDATA[UPDATE clients
SET name=:name, surname=:surname,gender=:gender,city=:city,date_of_birth=:date_of_birth
WHERE dni = :dni]]></db:sql>
			<db:input-parameters ><![CDATA[#[{dni:attributes.uriParams.dni,
name: payload.nombre,
surname: payload.apellido,
gender: payload.genero,
city: payload.ciudad,
date_of_birth: payload.fecha_de_nacimiento
	}]]]></db:input-parameters>
		</db:update>
		<set-payload value='#[{"message":"Modificación de cliente exitosa"}]' doc:name="Set Payload" doc:id="86f57467-66d8-4341-8894-26df2517d691" />
		<ee:transform doc:name="Transform Message" doc:id="cfa4892b-327c-4662-b5af-cc1676fd8c0f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="Clients-DELETE" doc:id="375daaf1-2e9e-4ad5-a79b-8eb5ed1bb5d8" >
		<db:update doc:name="Update" doc:id="ccd29d45-2327-464b-83d7-360ab9769d55" config-ref="Database_Config">
			<db:sql ><![CDATA[UPDATE clients SET enabled = false
WHERE dni = :dni]]></db:sql>
			<db:input-parameters ><![CDATA[#[{dni: attributes.uriParams.dni}]]]></db:input-parameters>
		</db:update>
		<set-payload value='#[{"message":"Eliminacion de cliente exitosa"}]' doc:name="Set Payload" doc:id="332bd83a-2d6d-4a81-a9ea-c5f5e6321487" />
		<ee:transform doc:name="Transform Message" doc:id="ff531384-b730-4b56-af73-ba062d938a37" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
